.nahin{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    /* background-color: red; */
    /* text-align:justify; */
}
#paragraph{
    color: white;
    background-color: black;
    font-size: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: 40%;
    padding-top: 60px;
}
#parents{
    text-align: center;
    background-color: rgb(211, 23, 211, 0.5);
    margin: 10px;
    border: 5px solid pink;
    border-radius: 10px;
}